
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300italic,600italic,300,600');
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
body{
  background-image: $body-bg-img;
  background-size: cover;
}
.panel-default > .panel-heading{
  color:$panel-default-heading-color;
}
.navbar-default .navbar-brand {
    color: $navbar-default-color;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0
}

/*Search School*/
#search-school .btn-checkbox {
  background-color: #ffffff;
  border-color: #ccc;
  box-shadow: none;
  width: 75%;
}

#search-school .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 100%;
}

#search-school .form-group {
  margin-bottom: 15px;
  padding-left: 0;
  padding-right: 3px;
}

#search-school .form-group .btn-group {
  width: 100%;
}

#search-school .form-control {
  width: 100%;
}

.team_wins {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #555555;
  text-align: center;
  background-color: #eeeeee;
  border: 1px solid #ccd0d2;
  border-radius: 4px;
}

.form-group input[type="checkbox"] + .btn-group > label {
  width: 25%;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
  display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
  display: inline-block;
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
  display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
  display: none;
}

.mt-25 {
  margin-top: 25px;
}

.mt-10 {
  margin-top: 10px;
}

.mtb-5 {
  margin: 5px 0;
}

.mb-15 {
  margin-bottom: 15px;
}

.ml-10 {
  margin-left: 10px;
}
.p-9px {
  padding: 9px;
}

.d-none {
   display: none !important;
 }

.d-block {
  display: block !important;
}

.d-inline-block {
  display: inline-block;
}

@media (max-width : 370px) {
  #search-school div  {
    label, span, input {
      font-size: 11px;
    }

    label {
      padding-left: 0;
      padding-right: 0;
    }
  }

  #search-school input, #search-school button {
    height: 30px;
  }

  #search-school .form-group{
    padding: 2px;
  }
}
#profile_img, #school_logo_img{
  width: 50px;
  height: 50px;
  margin-left: 15px;
}
.profile_img {
  width: 50px;
  height: 50px;
}
#profile_pic, #school_logo_pic {
  height: 50px;
  padding: 13px;
}
.filter-option {
  max-width: 150px;
}
.bootstrap-select {
  button {
    padding: 9px;
  }
}
.color-r {
  color: red;
}
.curs-pointer {
  cursor: pointer;
}